body {
  background: #EEE;
  margin: 0;
}

@media screen and (min-width: 970px) {
  main {
    width: 700px;
    margin: 30px auto;
    border: 1px solid #CCC;
    padding: 30px 100px;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 970px) {
  main {
    padding: 30px 50px;
    font-size: 1.1em;
  }
  pre code {
    font-size: 14px;
  }
}

main {
  color: #000;
  background: white;
  font-family: Times;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #5F1515;
  font-weight: 100;
  margin: 60px 0 30px;
  font-variant: small-caps;
}

h1 {
  font-size: 2.1em;
}

h4 {
    margin-bottom: -1em;
}

ol {
  list-style-type: lower-roman;
}

code {
  color: #5F1515;
  font-size: 0.8em;
  font-family: Deja Vu Mono;
  line-height: 1em;
}

p code {
  padding: 0 6px;
  background: #FCFCFC;
  border: 1px solid #BABABA;
  border-radius: 2px;
}

#legalese code {
  background: white;
  border: none;
}

#legalese {
  color: #333;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-bottom: 1px solid #5F1515;
}